<div>
  <label class="form" for="name">Project Name: </label>
  <input class="form" id="name" type="text" [formControl]="nameControl"><br>
  <label class="form" for="author">Author : </label>
  <input class="form" id="author" type="text" [formControl]="authorControl"><br>
  <button class="form" (click)="addProject()">Add Project </button>
</div>

<div class="flex-container">
  <div>
    <label class="form lbl">Projects</label>
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="error">
      Error :(
    </div>
    <div *ngIf="projects">
      <div *ngFor="let project of projects | reverse">
        <p>{{ project.createdBy }}: {{ project.name }}</p>
      </div>
    </div>
  </div>
  <div>
    <label class="lbl form" for="authorSearch">Projects by author </label><br>
    <input class="form" id="authorSearch" type="text" [formControl]="authorSearchControl"><br>
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="error">
      Error :(
    </div>
    <div *ngIf="projects">
      <div *ngFor="let project of projectsByAuthor">
        <p>{{ project.createdBy }}: {{ project.name }}</p>
      </div>
    </div>
  </div>
</div>
